body {
  margin: 0;
  font-family: Arial;
  background: #0b0b0b;
  color: white;
  text-align: center;
}

header {
  background: black;
  padding: 20px;
  border-bottom: 2px solid gold;
}

.hero {
  padding: 70px;
  background: linear-gradient(135deg, purple, black);
}

.btn {
  background: gold;
  color: black;
  padding: 12px 25px;
  text-decoration: none;
  border-radius: 25px;
  display: inline-block;
  margin-top: 15px;
  font-weight: bold;
}

.about, .services, .pricing, .payment, .social, .urgent {
  padding: 40px 20px;
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.price-box {
  background: #111;
  padding: 20px;
  border-radius: 15px;
  width: 250px;
  box-shadow: 0 0 15px gold;
}

.price-box.premium {
  border: 2px solid gold;
  transform: scale(1.05);
}

.price {
  font-size: 28px;
  color: gold;
}

.social-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.social-links a {
  background: black;
  color: gold;
  padding: 10px 20px;
  border-radius: 20px;
  text-decoration: none;
}

.urgent {
  background: red;
  font-weight: bold;
}

footer {
  background: black;
  padding: 20px;
}
.astro-visual {
  padding: 60px 20px;
  background: radial-gradient(circle, #000000, #111);
}

.astro-img {
  width: 95%;
  max-width: 600px;
  border-radius: 20px;
  box-shadow: 0 0 40px gold;
  margin-top: 20px;
  transition: 0.4s;
}

.astro-img:hover {
  transform: scale(1.05);
}
